@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,600;

0,800;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.header {
  -webkit-box-shadow: 0 20px 84px 54px #000;
          box-shadow: 0 20px 84px 54px #000;
  z-index: 2;
}

.header__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding: 15px 0;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}

.header__nav li {
  margin-right: 54px;
  position: relative;
}

.header__nav li .active::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 2px;
  background: -o-linear-gradient(133.47deg, #26fff2 13.2%, #326cff 71.54%);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  display: block;
  z-index: 3;
  left: 93px;
  top: 25px;
}

.header__nav li a {
  color: #fff;
  opacity: 0.5;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
}

.header__nav li a:hover {
  color: #ff88c9;
  opacity: 1;
}

.header__nav li .link {
  opacity: 1;
  font-weight: 700;
  margin-left: 94px;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

.header__btn li {
  margin-right: 75px;
}

.header__btn li:last-child {
  margin-right: 0;
}

.search {
  background: url(../img/header/search.svg) center no-repeat;
  width: 20px;
  height: 20px;
}

.bell {
  background: url(../img/header/bell.svg) center no-repeat;
  width: 20px;
  height: 20px;
}

.account {
  background: url(../img/header/acc.svg) center center no-repeat;
  width: 20px;
  height: 20px;
  background-size: contain;
}

.footer {
  margin-top: 121px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 140px;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #c2c2c2;
}

.footer__columns p {
  margin-bottom: 20px;
}

.colimn-1 {
  margin-right: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 158px;
          flex: 0 1 158px;
  padding-left: 20px;
}

.colimn-2 {
  padding-left: 50px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  margin-right: 47px;
}

.top__content {
  position: relative;
  max-width: 1600px;
  background: url(../img/Hero.png) no-repeat right;
  background-size: contain;
  margin: 0 auto;
}

.top__information {
  max-width: 1471px;
  padding-left: 67px;
}

.top__right {
  -webkit-box-shadow: 197px -121px 189px 103px #000;
          box-shadow: 197px -121px 189px 103px #000;
  width: 540px;
  background: #010101;
}

.top__info {
  font-weight: 700;
  font-size: 16px;
  line-height: 10px;
  padding-left: 0px;
}

.top__btns {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 220px;
  font-weight: 700;
  display: inline-block;
}

.top__text {
  width: 507px;
  font-size: 18px;
  line-height: 28px;
  color: #c2c2c2;
  padding: 32px 0px 52px 0px;
  word-spacing: 2px;
}

.img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 21;
  max-width: 100%;
}

.age {
  margin: 0px 10px;
  position: relative;
  text-align: center;
  display: inline-block;
  width: 60px;
}

.age::after {
  content: "";
  position: absolute;
  background: url(../img/border.svg) no-repeat center;
  width: 60px;
  height: 24px;
  top: calc(50% - 12px);
  left: 0px;
}

.time {
  margin-right: 50px;
  margin-left: 10px;
}

.score {
  position: relative;
  margin-left: 8px;
}

.score::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/star.svg) no-repeat;
  display: inline-block;
  z-index: 2;
  margin-left: 13px;
  top: calc(50% - 10px);
}

.title {
  font-size: 80px;
  line-height: 70px;
  padding-top: 122px;
  padding-bottom: 58px;
}

.watch {
  padding: 15px 35px 15px 55px;
  color: white;
  background: -o-linear-gradient(133.47deg, #26fff2 13.2%, #326cff 71.54%);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  position: relative;
}

.watch::after {
  content: "";
  position: absolute;
  background: url(../img/play.svg);
  width: 14px;
  height: 18px;
  display: inline-block;
  z-index: 2;
  left: 30px;
  top: calc(50% - 10px);
}

.more {
  color: #000;
  background: #ffffff;
  border-radius: 100px;
  padding: 15px 32px;
  margin-left: 28px;
}

.img {
  position: absolute;
  z-index: -1;
  right: 0;
  max-width: 100%;
}

hr {
  background: #2f2e2e;
  height: 1px;
  z-index: 22;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  z-index: 10;
  position: relative;
  padding: 0 100px;
}

.slider .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 100px;
}

.slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/arrowLeft.png) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/arrowRight.png) 0 0/100% no-repeat;
}

.slider__item {
  text-align: center;
}

.slider__item img {
  border-radius: 22px;
}

.middle {
  background: #000;
}

.middle__title {
  position: relative;
  font-weight: 600;
  font-size: 28px;
  line-height: 20px;
  padding-top: 70px;
  padding-bottom: 47px;
  padding-left: 16px;
}

.middle__title::before {
  content: "";
  position: absolute;
  height: 33px;
  width: 8px;
  background: -o-linear-gradient(133.47deg, #26fff2 13.2%, #326cff 71.54%);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  display: block;
  z-index: 3;
  left: -3px;
  top: calc(50% - 10px);
  border-radius: 50px;
}

.middle span {
  margin-left: 7px;
}

/* .slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #fff;
} */

.mid-btn {
  padding: 14px 33px;
  color: white;
  background: -o-linear-gradient(133.47deg, #26fff2 13.2%, #326cff 71.54%);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  margin-top: 34px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 40px;
}

.bottom__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.bottom__item {
  width: 340px;
  height: 198px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  border-radius: 20px;
  gap: 27px;
  font-weight: 600;
  font-size: 28px;
  line-height: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 27px;
  margin-left: 5px;
  margin-right: 5px;
}

.bottom__item img {
  margin-top: 44px;
}

.bottom__item p {
  margin-top: 10px;
}

.scifi {
  width: 28.5%;
}

.item-1 {
  background: -o-linear-gradient(340.69deg, #fd093f 2.4%, #f383f1 100%);
  background: linear-gradient(109.31deg, #fd093f 2.4%, #f383f1 100%);
}

.item-2 {
  background: -o-linear-gradient(335.5deg, #0fffda 2.22%, #3cdb77 68.84%);
  background: linear-gradient(114.5deg, #0fffda 2.22%, #3cdb77 68.84%);
}

.item-3 {
  background: -o-linear-gradient(340.69deg, #b936ff 2.4%, #57deda 100%);
  background: linear-gradient(109.31deg, #b936ff 2.4%, #57deda 100%);
}

.item-4 {
  background: -o-linear-gradient(340.69deg, #fd093f 2.4%, #fb1378 2.41%, #fccb1a 100%);
  background: linear-gradient(109.31deg, #fd093f 2.4%, #fb1378 2.41%, #fccb1a 100%);
}

.item-5 {
  background: -o-linear-gradient(340.69deg, #ff6472 2.4%, #fda75d 100%);
  background: linear-gradient(109.31deg, #ff6472 2.4%, #fda75d 100%);
}

.item-6 {
  background: -o-linear-gradient(339.84deg, #13547a 2.37%, #80d0c7 96.77%);
  background: linear-gradient(110.16deg, #13547a 2.37%, #80d0c7 96.77%);
}

.item-7 {
  background: -o-linear-gradient(340.07deg, #fff77b 2.37%, #ffbf42 50%);
  background: linear-gradient(109.93deg, #fff77b 2.37%, #ffbf42 50%);
}

.item-8 {
  background: -o-linear-gradient(340.69deg, #1fa2ff 2.4%, #1fa2ff 2.41%, #1f535c 97.46%);
  background: linear-gradient(109.31deg, #1fa2ff 2.4%, #1fa2ff 2.41%, #1f535c 97.46%);
}

.actors__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  margin-right: -10px;
  margin-left: -10px;
}

.actors__item {
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.name {
  margin-top: 20px;
  margin-bottom: 100px;
}

.actors-title {
  margin-top: -16px;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1471px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Mulish", sans-serif;
  background: #000000;
  color: #fff;
}

body a {
  color: #fff;
}

.page {
  background-color: #000;
}

a:hover {
  color: #ff88c9;
}

a:active {
  color: #29bbff;
}

.banner {
  background-color: #000;
  margin-bottom: 121px;
}

.banner__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -o-linear-gradient(2.98deg, #000000 0%, #0d1a73 29.67%, #000000 70.52%);
  background: linear-gradient(87.02deg, #000000 0%, #0d1a73 29.67%, #000000 70.52%);
  -webkit-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
          box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
}

.banner__bunny {
  height: 341px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  background: url(../img/bottom/Bunny.png) no-repeat center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.banner__2021 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  height: 341px;
  background: url(../img/bottom/2021.png) no-repeat center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: -25px;
}

.banner__2021 p {
  font-size: 64px;
  line-height: 20px;
  font-weight: 600;
  text-align: center;
  margin-top: 276px;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 71px 57px;
  margin-left: 98px;
  background: -o-linear-gradient(113.44deg, #0000004f 58.12%, #ffffff4b 124.09%), url(../img/bottom/maznya.png) no-repeat center/cover;
  background: linear-gradient(336.56deg, #0000004f 58.12%, #ffffff4b 124.09%), url(../img/bottom/maznya.png) no-repeat center/cover;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 20px;
  margin-right: 98px;
}

.register__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 792px;
          flex: 0 1 792px;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
}

.register__link {
  padding: 15px 21px;
  color: white;
  white-space: nowrap;
  background: -o-linear-gradient(133.47deg, #26fff2 13.2%, #326cff 71.54%);
  background: linear-gradient(316.53deg, #26fff2 13.2%, #326cff 71.54%);
  -webkit-box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
          box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-right: 96px;
}

@media (max-width: 1500px) {
  .top__right {
    -webkit-box-shadow: 107px 0 189px 103px #000;
            box-shadow: 107px 0 189px 103px #000;
  }
}

@media (max-width: 1450px) {
  .footer__columns {
    font-size: 14px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 1300px) {
  .top__right {
    -webkit-box-shadow: 77px 0 189px 103px #000;
            box-shadow: 77px 0 189px 103px #000;
  }

  .scifi {
    margin-bottom: -20px;
  }
}

@media (max-width: 1261px) {
  .footer {
    margin-top: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer__flexbox {
    padding: 0 100px;
  }

  .footer__columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .colimn-5 {
    display: none;
  }

  .flex {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .banner__2021 p {
    font-size: 40px;
  }

  .register {
    padding: 50px 30px;
    margin-left: 44px;
    margin-right: 57px;
  }

  .register__text {
    font-size: 40px;
    padding-right: 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }

  .register__link {
    margin-right: 50px;
  }
}

@media (max-width: 1061px) {
  .header__nav li .active::after {
    left: 0;
  }

  .header__nav li .link {
    margin-left: 0;
  }

  .footer {
    margin-top: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .colimn-4 {
    display: none;
  }

  .top__content {
    background-image: none;
    text-align: center;
  }

  .top__information {
    padding-left: 0;
  }

  .top__right {
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    width: 100%;
  }

  .top__btns {
    padding-bottom: 80px;
  }

  .top__text {
    width: 100%;
    padding-right: 25px;
    padding-left: 25px;
  }

  .title {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 100px;
  }

  .middle__title {
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 44px;
  }

  .middle__title::before {
    height: 30px;
    top: calc(50% - 6px);
  }

  .actors__item {
    padding-right: 25px;
    padding-left: 25px;
  }

  .name {
    margin-bottom: 60px;
  }

  .banner {
    margin-bottom: 80px;
  }

  .register {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 40px 20px;
  }

  .register__text {
    font-size: 30px;
  }

  .register__link {
    margin-right: 40px;
    font-size: 14px;
  }
}

@media (max-width: 1061) {
  .slider {
    padding: 0 80px;
  }
}

@media (max-width: 1000px) {
  .header__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    display: none;
  }

  .header__nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .header__nav li {
    margin-left: 0;
  }
}

@media (max-width: 825px) {
  .colimn-3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .footer__columns {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .title {
    font-size: 60px;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 60px;
  }

  .slider {
    padding: 0 60px;
  }

  .middle__title {
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 35px;
  }

  .middle__title::before {
    height: 26px;
    top: calc(50% - 4px);
  }

  .mid-btn {
    margin-bottom: 10px;
  }

  .bottom__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .bottom__item {
    width: 70%;
    font-size: 20px;
  }

  .scifi {
    margin-top: 10px;
    width: 60px;
  }

  .name {
    margin-bottom: 40px;
  }

  .banner {
    margin-bottom: 60px;
  }

  .banner__flexbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -o-linear-gradient(2.98deg, #000000 0%, #0d1a73 50%, #000000 100%);
    background: linear-gradient(87.02deg, #000000 0%, #0d1a73 50%, #000000 100%);
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .banner__bunny {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    border-radius: 20px;
  }

  .banner__2021 {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    border-radius: 20px;
  }

  .banner__2021 p {
    font-size: 30px;
  }

  .register {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 10px;
  }

  .register__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .register__link {
    font-size: 12px;
    margin-right: 30px;
  }
}

@media (max-width: 768) {
  .top__btns {
    padding-bottom: 40px;
  }
}

@media (max-width: 713px) {
  .header__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav {
    margin-bottom: 10px;
  }

  .header__nav li {
    margin-right: 30px;
  }

  .header__nav li a {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .footer__logo {
    width: 80px;
  }

  .title {
    font-size: 40px;
    padding-top: 30px;
  }

  .slider {
    padding: 0 30px;
  }

  .slider .slick-arrow.slick-prev {
    left: -17px;
  }

  .slider .slick-arrow.slick-next {
    right: -17px;
  }

  .banner {
    margin-bottom: 40px;
  }
}

@media (max-width: 400px) {
  .score {
    margin-left: -29px;
  }

  .score::after {
    margin-left: 5px;
  }
}

@media (max-width: 389px) {
  .top__btns {
    font-size: 14px;
    padding-bottom: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top__text {
    padding-bottom: 20px;
    font-size: 14px;
  }

  .watch {
    margin-bottom: 10px;
  }

  .more {
    margin-left: 0;
  }
}

.webp .top__content{ background: url(../img/Hero.webp) no-repeat right; }

.webp .slider .slick-arrow.slick-prev{ background: url(../img/arrowLeft.webp) 0 0/100% no-repeat; }

.webp .slider .slick-arrow.slick-next{ background: url(../img/arrowRight.webp) 0 0/100% no-repeat; }

.webp .banner__bunny{ background: url(../img/bottom/Bunny.webp) no-repeat center; }

.webp .banner__2021{ background: url(../img/bottom/2021.webp) no-repeat center; }

.webp .register{ background: -o-linear-gradient(113.44deg, #0000004f 58.12%, #ffffff4b 124.09%), url(../img/bottom/maznya.webp) no-repeat center/cover; }

.webp .register{ background: linear-gradient(336.56deg, #0000004f 58.12%, #ffffff4b 124.09%), url(../img/bottom/maznya.webp) no-repeat center/cover; }